.map-container{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 90%;
    height: 95vh;
    margin: 0 auto; /* Centers the div on the page  */
    z-index: 1;
    border: 2px solid pink; /* Creates a pink outline */
}